{% extends 'core/base.html' %}

{% block content %}
<div class="card shadow">
    <div class="card-header py-3">
        <p class="text-primary m-0 font-weight-bold">EMPRESAS CLIENTE</p>
    </div>
    <div class="card-body">
        <div
            class="table-responsive table mt-2"
            id="dataTable"
            role="grid"
            aria-describedby="dataTable_info"
        >
            <table class="table my-0" id="dataTable">
                <thead>
                    <tr>
                        <th>Nit</th>
                        <th>Nombre</th>
                        <th>Usuario Pertenecen a la empresa</th>
                        <th>Telefono</th>
                        <th>Agregar Contacto</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in object_list  %}
                    <tr>
                        <td>{{i.nit}}</td>
                        <td>{{i.nombre}}</td>
                        
                        <td>

                        {% for usuario in i.contacto.all %}
                        
                        <a class="btn-block text-dark" style="text-decoration:None" href="{% url 'empresa:delete-usuario-invitado' usuario %}">{{usuario.nombre}} Eliminar?</a>
                        {% endfor %}
                        </td>
                        <td>{{i.telefono}}</td>
                        <td><a href="{% url 'empresa:create-contacto-cliente' i.id %}" class="btn btn-primary text-white">Agregar Contacto </a></td>
                        <td><a href="{% url 'empresa:delete-empresa-cliente' i.id %}" class="btn btn-primary text-white">Eliminar </a>
                        <a href="{% url 'empresa:update-empresa-cliente' i.id %}" class="btn btn-primary text-white">Editar </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endblock content %}